<nav class="navbar navbar-expand-lg">
  <!-- Main Nav panel -->
  <div id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
            <a class="nav-link" routerLink="/products">Browse Products<span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
            <a class="nav-link" routerLink="/addproduct">Add New Product<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    </div>
  </nav>
    <router-outlet></router-outlet>